/*------------------------------------------------------------------
Common Stylesheet

Project:   Massive - Multipurpose Responsive Theme
Build:     Bootstrap 3 +
Author:    ThemeBucket

-------------------------------------------------------------------*/

/*------------------------------------------------------------------
Table of contents

0. tb preloader
1. import css files
2. typography
3. header
4. top mega menu
5. menu appear alt
6. floating menu
7. nav icon
8. nav link boxed
9. nav link border box
10. nav link border bottom
11. nav center align
12. nav bottom position
13. nav block left align
14. pre-defined >  margin top | margin bottom
15. body content
16. portfolio
17. portfolio with title
18. portfolio masonry
19. Isotope Filtering
20. portfolio details
21. portfolio nav
22. masonry grid
23. Flex Slider
24. slider revolution
25. maintenance
26. top bar
27. primary nav
28. countdown
29. bs slider
30. static banner
31. video banner
32. custom pagination
33. Product list
34. contact us
35. event page
36. magazine page
37. catering page
38. hotel page
39. app landing page
40. Slider Typist
41. Boxed View
42. scroll top

-------------------------------------------------------------------*/


/*-------------------------------------------------------------------
    import css files
-------------------------------------------------------------------*/

@import url("animate.css");
@import url("linea-icon.css");


/*-------------------------------------------------------------------
    tb preloader
-------------------------------------------------------------------*/
#tb-preloader {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999999;
    display: block;
    background: #fff;
}
.tb-preloader-wave {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60px;
    height: 60px;
    margin: -30px 0 0 -30px;
}
.tb-preloader-wave:before,
.tb-preloader-wave:after {
    position: absolute;
    display: inline-block;
    content: "";
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #222;
    -webkit-animation: preloader-wave 1.6s linear infinite;
    animation: preloader-wave 1.6s linear infinite;
}
.tb-preloader-wave:after {
    animation-delay: -0.8s;
    -webkit-animation-delay: -0.8s;
}
@keyframes preloader-wave {
    0% {
        -webkit-transform: scale(0, 0);
        transform: scale(0, 0);
        opacity: 0.5;
        filter: alpha(opacity=50);
    }
    100% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
        opacity: 0;
        filter: alpha(opacity=0);
    }
}
@-webkit-keyframes preloader-wave {
    0% {
        -webkit-transform: scale(0, 0);
        opacity: 0.5;
        filter: alpha(opacity=50);
    }
    100% {
        -webkit-transform: scale(1, 1);
        opacity: 0;
        filter: alpha(opacity=0);
    }
}

/* ----------------------------------------------------------------
	typography
-----------------------------------------------------------------*/


body {
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.5;
    color: #323232;
    font-size: 15px;
    font-weight: 400;
    text-rendering:optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
}


a:active,
a:focus { outline: none !important; }


h1,
h2,
h3,
h4,
h5,
h6 {
    color: #333;
    font-weight: 600;
    line-height: 1.5;
    margin: 0 0 30px 0;
    font-family: 'Abel', sans-serif;
    font-weight: normal;
}

h1,
h2 {
    letter-spacing: 4px;
}

h3,
h4 {
    letter-spacing: 3px;
}

h5,
h6 {
    letter-spacing: 2px;
    font-weight: bold !important;
}

a {
    text-decoration: none !important;
}

a:hover, a:focus {
    color: #323232;
}

a:hover, .btn, .btn:hover  {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}


a img,
iframe { border: none !important; }


p {
    margin: 0 0 30px;
    line-height: 30px;
    color: #7e7e7e;
}

p, li {
    font-family: 'Source Sans Pro', sans-serif;
}

hr {
    margin-top: 0px;
    margin-bottom: 0px;
    border: 0;
    border-top: 1px solid #eee;
}


pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 30px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f9f9f9;
    border: 1px solid #EDEDED;
    border-radius: 0;
}


.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 30px;
    padding-left: 30px;
}

/*.row {*/
    /*margin-right: -30px;*/
    /*margin-left: -30px;*/
/*}*/


.btn-default {
    border-color: #e5e5e5;
}

.column-two {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
}

.column-three {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
}

.column-four {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
}

.column-two,
.column-three,
.column-four {

    -webkit-column-gap: 40px;
    -moz-column-gap: 40px;
    column-gap: 40px;
}

/* ----------------------------------------------------------------
	header
-----------------------------------------------------------------*/


.header-full-width .container {
    width: 100%;
    padding: 0 30px;
}

.dark-header.header-bottom-border {
    border-bottom: 1px solid rgba(255,255,255,.2);
    height: 99px;
}

.light-header.header-bottom-border {
    border-bottom: 1px solid rgba(0,0,0,.15);
    height: 99px;

}

.sticky .dark-header.header-bottom-border,
.sticky .light-header.header-bottom-border {
    border: none;
    height: auto;
}

#header .container {
    position: relative;
}

header {
    width: 100%;
    height: 100px;
    z-index: 1000;
    position: relative;
}


header.transparent-header.sticky + #fullscreen-banner {
    margin-top: -100px;
}

header.transparent-header + #fullscreen-banner {
    margin-top: 0px;
}

header + #fullscreen-banner {
    margin-top: -100px;
}

.left-nav-fixed header + #fullscreen-banner {
    margin-top: 0px;
}


header.sticky .header-sticky,
header.transparent-header {
    position: fixed;
    width: 100%;
}

header.sticky .header-sticky {
    box-shadow: 0 1px 0 rgba(0,0,0,.05);
}

header.sticky{
    height: 60px;
    z-index: 1000;
    position: fixed;
    top:0px;
}


header .logo-brand img {
    height: 100px;
    float: left;
}

header.sticky .logo-brand img, header.sticky .logo-brand img.retina  {
    height: 60px !important;
}


header.nav-center-align .logo-brand img {
    height: auto;
    float: none;
    margin: 20px 0;
}


#header.transparent-header .light-header,
#header.transparent-header .dark-header,
#header.transparent-header {
    background: transparent !important;
    z-index: 1000;
}

#header.transparent-header .menuzord .logo-brand {
    z-index: 1200;
}


header .light-header,
header.sticky .light-header,
#header.transparent-header.sticky .light-header,
.light-nav{
    background: #fff !important;
}

header .dark-header,
header.sticky .dark-header,
#header.transparent-header.sticky .dark-header,
.dark-nav,
header.sticky .semi-transparent {
    background: rgba(10,10,10, 1) !important;
}

.semi-transparent{
    background: rgba(10,10,10, .5) !important;
}


/* ----------------------------------------------------------------
	top mega menu
-----------------------------------------------------------------*/

.menuzord {
    background: none;
    padding: 0;
}


.menuzord-menu>li>a,
header.sticky .menuzord-menu>li>a,
.logo-brand,

header .logo-brand img,
header.sticky .logo-brand,
header.sticky .logo-brand img,
header,
header .sticky,

header li.nav-icon i,
header.sticky li.nav-icon i {

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;

}

.nav-bottom {
    transition: none;
    -webkit-transition: none;
    -moz-transition: none;
}

.menuzord-menu>li>a {
    line-height: 100px;
}

.nav-border-bottom .menuzord-menu>li>a {
    line-height: 99px;
}

header.sticky .menuzord-menu>li>a {
    line-height: 60px;
}

.menuzord-menu>li>a,
header.sticky .menuzord-menu>li>a {
    padding: 0 12px;
}


.logo-brand {
    margin: 0px 30px 0 0;
    line-height: 100px;
}

header.sticky .logo-brand {
    line-height: 60px;
}

.menuzord-menu ul.dropdown li a,
.menuzord-menu>li>.megamenu a,
.menuzord-menu>li>.megamenu h5,
.menuzord-menu ul.dropdown li a {
    color:#b0b0b0 ;
}

.menuzord-menu>li>.megamenu h5 {
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 20px;
    padding-left: 10px;
}


.menuzord-menu>li>.megamenu .megamenu-row li a {
    padding: 8px 10px;
    width: 100%;
    display: inline-block;
    font-size: 12px;
}

.menuzord-menu>li>.megamenu .megamenu-row li:hover a {
    background: rgba(255,255,255,.06);

}

.menuzord,
.menuzord * {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    letter-spacing: .5px;
    font-weight: normal;
}
.menuzord {
    width: 100%;
    float: left;
    position: relative;
}
.menuzord a,
.menuzord-menu ul.dropdown li a {
    -o-transition: color .3s linear, background .3s linear;
    -moz-transition: color .3s linear, background .3s linear;
    -webkit-transition: color .3s linear, background .3s linear;
    transition: color .3s linear, background .3s linear
}
.menuzord-menu.scrollable>.scrollable-fix {
    display: none
}
.logo-brand {
    float: left;
    color: #666;
    text-decoration: none;
    font-size: 24px;
    font-weight: 600;
    cursor: pointer
}
.menuzord-menu {
    margin: 0;
    padding: 0;
    float: left;
    list-style: none
}
.menuzord-menu.menuzord-right {
    float: right
}

.menuzord-menu>li {
    display: inline-block;
    float: left;
    margin-left: 2px;
}

.menuzord-menu>li>a {
    display: inline-block;
    text-decoration: none;
    font-size: 13px;
    font-weight: normal;
    outline: 0;
    -webkit-tap-highlight-color: transparent
}


.menuzord-menu>li>a,
.menuzord-menu>li>a>i,
.dark.menuzord-menu>li>a {
    color: #333;
}

.light.menuzord-menu>li>a,
.light.menuzord-menu>li>a>i,
header .dark-header .menuzord-menu>li>a,
header .dark-header .menuzord-menu>li>a>i
{
    color: #fff;
}


.menuzord-menu>li.active>a,
.menuzord-menu>li:hover>a {
    color: #333
}
.menuzord-menu ul.dropdown,
.menuzord-menu ul.dropdown li ul.dropdown {
    list-style: none;
    margin: 0;
    padding: 0;
    display: none;
    position: absolute;
    z-index: 99;
    min-width: 190px;
    white-space: nowrap;
    background: #fff
}
.menuzord-menu ul.dropdown li ul.dropdown {
    left: 100%
}
.menuzord-menu ul.dropdown li {
    clear: both;
    width: 100%;
    border: 0;
    font-size: 12px;
    position: relative
}
.menuzord-menu ul.dropdown li a {
    width: 100%;
    background: 0 0;
    padding: 10px 25px 10px 22px;
    color: #b0b0b0;
    text-decoration: none;
    display: inline-block;
    float: left;
    clear: both;
    position: relative;
    outline: 0;
}
.menuzord-menu ul.dropdown li:hover>a {
    padding-right: 19px;
    color: #333;
    background: rgba(255,255,255,.06);
}
.menuzord-menu ul.dropdown.dropdown-left {
    left: none;
}
.menuzord-menu ul.dropdown li ul.dropdown.dropdown-left {
    left: -100%
}

.menuzord-menu li .indicator {
    margin-left: 3px;
}

.menuzord-menu li .indicator i{
    font-family: FontAwesome;
}

.menuzord-menu li ul.dropdown li .indicator {
    position: absolute;
    top: 8px;
    right: 10px;
    font-size: 15px
}
.menuzord-menu>li>.megamenu {
    width: 100%;
    padding: 20px;
    left: 0;
    position: absolute;
    display: none;
    z-index: 99;
    border-top: solid 1px #f0f0f0;
    background: #fff
}
.menuzord-menu>li>.megamenu.megamenu-half-width {
    width: 50%;
    left: auto
}
.menuzord-menu>li>.megamenu.megamenu-quarter-width {
    width: 25%;
    left: auto
}
.menuzord-menu>li>.megamenu .megamenu-row {
    width: 100%;
    margin-top: 15px
}
.menuzord-menu>li>.megamenu .megamenu-row:first-child {
    margin-top: 0
}
.menuzord-menu>li>.megamenu .megamenu-row:after,
.menuzord-menu>li>.megamenu .megamenu-row:before {
    display: table;
    content: "";
    line-height: 0
}
.menuzord-menu>li>.megamenu .megamenu-row:after {
    clear: both
}
.menuzord-menu>li>.megamenu .megamenu-row .col1,
.menuzord-menu>li>.megamenu .megamenu-row .col10,
.menuzord-menu>li>.megamenu .megamenu-row .col11,
.menuzord-menu>li>.megamenu .megamenu-row .col12,
.menuzord-menu>li>.megamenu .megamenu-row .col2,
.menuzord-menu>li>.megamenu .megamenu-row .col3,
.menuzord-menu>li>.megamenu .megamenu-row .col4,
.menuzord-menu>li>.megamenu .megamenu-row .col5,
.menuzord-menu>li>.megamenu .megamenu-row .col6,
.menuzord-menu>li>.megamenu .megamenu-row .col7,
.menuzord-menu>li>.megamenu .megamenu-row .col8,
.menuzord-menu>li>.megamenu .megamenu-row .col9 {
    display: block;
    min-height: 20px;
    float: left;
    margin-left: 3%
}
.menuzord-menu>li>.megamenu .megamenu-row [class*=col]:first-child {
    margin-left: 0
}
.menuzord-menu>li>.megamenu .megamenu-row .col1 {
    width: 5.583333333333%
}
.menuzord-menu>li>.megamenu .megamenu-row .col2 {
    width: 14.166666666666%
}
.menuzord-menu>li>.megamenu .megamenu-row .col3 {
    width: 22.75%
}
.menuzord-menu>li>.megamenu .megamenu-row .col4 {
    width: 31.333333333333%
}
.menuzord-menu>li>.megamenu .megamenu-row .col5 {
    width: 39.916666666667%
}
.menuzord-menu>li>.megamenu .megamenu-row .col6 {
    width: 48.5%
}
.menuzord-menu>li>.megamenu .megamenu-row .col7 {
    width: 57.083333333333%
}
.menuzord-menu>li>.megamenu .megamenu-row .col8 {
    width: 65.666666666667%
}
.menuzord-menu>li>.megamenu .megamenu-row .col9 {
    width: 74.25%
}
.menuzord-menu>li>.megamenu .megamenu-row .col10 {
    width: 82.833333333334%
}
.menuzord-menu>li>.megamenu .megamenu-row .col11 {
    width: 91.416666666667%
}
.menuzord-menu>li>.megamenu .megamenu-row .col12 {
    width: 100%
}
.menuzord .showhide {
    width: 30px;
    height: 46px;
    padding: 13px 0 0;
    display: none;
    float: right;
    text-decoration: none;
    outline: 0;
    -webkit-tap-highlight-color: transparent
}
.menuzord .showhide em {
    width: 20px;
    height: 3px;
    margin: 3.5px 0px 0;
    float: right;
    background: #777
}
.menuzord-menu>li>a>i {
    margin: 0 5px 0 0;
    font-size: 18px;
    float: left;
    line-height: 20px;
    font-family: FontAwesome
}
.menuzord-menu>li.search form {
    float: left;
    padding: 22px 16px 17px
}
.menuzord-menu>li.search form input[type=text] {
    width: 160px;
    padding: 5px 10px;
    border: none;
    background: #f0f0f0;
    border-radius: 2px;
    outline: 0;
    -o-transition: width 1s ease-out;
    -moz-transition: width 1s ease-out;
    -webkit-transition: width 1s ease-out;
    transition: width 1s ease-out
}
.menuzord-menu>li.search form:hover input[type=text] {
    width: 160px
}
.menuzord-tabs {
    width: 100%;
    float: left
}
.menuzord-tabs-nav {
    width: 20%;
    margin: 0;
    padding: 0;
    float: left;
    list-style: none
}
.menuzord-tabs-nav>li>a {
    width: 100%;
    padding: 7px 16px;
    float: left;
    font-size: 13px;
    text-decoration: none;
    color: #666;
    border: 1px solid #f0f0f0;
    outline: 0
}
.menuzord-tabs-nav li.active a,
.menuzord-tabs-nav li:hover a {
    background: #f0f0f0
}
.menuzord-tabs-content {
    width: 80%;
    min-height: 30px;
    padding: 20px;
    float: right;
    display: none;
    font-size: 13px;
    border: 1px solid #f0f0f0
}
.menuzord-tabs-content.active {
    display: block
}


/*
Subcolored Skin
*/

/* Active/hover state (Menu items) */
.menuzord-menu > li.active > a,
.menuzord-menu > li:hover > a{
    /*background: #333;*/
    /*color: #fff;*/
}

/* Dropdown */
.menuzord-menu ul.dropdown,
.menuzord-menu ul.dropdown li ul.dropdown{
    background: #222;
}

/* Hover state (dropdown items) */
.menuzord-menu ul.dropdown li:hover > a{
    color: #fff;
}

/* Megamenu */
.menuzord-menu > li > .megamenu{
    background: #222;
    border-top: none;
}

/* tabs */
.menuzord-tabs-nav > li > a{
    color: #fff;
}
.menuzord-tabs-nav li.active a,
.menuzord-tabs-nav li:hover a{
    background: #f0f0f0;
    color: #666;
}


/*----------------------------------
    menu appear alt
-----------------------------------*/


.menu-appear-alt {
    display: none;
    background: #fff;
    box-shadow: 0 1px 0 rgba(0,0,0,.05);
}


/*----------------------------------
    floating menu
-----------------------------------*/

.floating-menu {
    margin-top: 50px;
}

.floating-menu .container {
    padding-right: 30px;
    padding-left: 30px;
}

/*----------------------------------
    nav icon
-----------------------------------*/


header li.nav-icon i {
    line-height: 100px;
    font-size: 12px;
}

header.sticky li.nav-icon i {
    line-height: 60px;
}

header li.nav-icon .indicator {
    display: none;
}

header li.nav-icon input {
    border-radius: 0;
    border: none;
    box-shadow: none;
    font-size: 11px;
}

.nav-icon.nav-divider a,
.nav-icon.nav-divider a:hover{
    cursor: default;
    color: #888 !important;
    font-weight: normal;
}


.nav-border-bottom .menuzord .menuzord-menu>li.nav-divider.active>a,
.nav-border-bottom .menuzord .menuzord-menu>li.nav-divider:hover>a,
.nav-border-box .menuzord .menuzord-menu>li.nav-divider.active>a,
.nav-border-box .menuzord .menuzord-menu>li.nav-divider:hover>a {
    border-color:transparent;
}

/*----------------------------------
    nav link boxed
-----------------------------------*/


.nav-boxed-color .menuzord-menu > li > a {
    margin: 30px 0px;
}

.nav-boxed-color .menuzord-menu>li>a,
header .nav-boxed-color li.nav-icon i{
    line-height: 40px;
}

header.sticky .nav-boxed-color li.nav-icon i {
    line-height: 60px;
}

.nav-boxed-color .menuzord-menu > li.nav-divider > a,
.nav-boxed-color .menuzord-menu > li.nav-divider:hover > a {
    background: none;
}

.nav-boxed-color .menuzord .menuzord-menu>li.active>a,
.nav-boxed-color .menuzord .menuzord-menu>li.active>a i,
.nav-boxed-color .menuzord .menuzord-menu>li:hover>a,
.nav-boxed-color .menuzord .menuzord-menu>li:hover>a>i
{
    color: #fff;

}

header.sticky .nav-boxed-color .menuzord-menu > li > a {
    margin: 0;
}



/*----------------------------------
    nav link border box
-----------------------------------*/


.nav-border-box .menuzord-menu > li > a {
    margin: 30px 0px;
}

.nav-border-box .menuzord-menu>li>a,
header .nav-border-box li.nav-icon i{
    line-height: 40px;
}

header.sticky .nav-border-box li.nav-icon i,
header.sticky .nav-border-box .menuzord-menu > li > a{
    line-height: 30px;
}

.nav-border-box .menuzord-menu > li > a {
    border:1px solid transparent;
}



header.sticky .nav-border-box .menuzord-menu > li > a {
    margin: 15px 0;
}



/* ----------------------------------------------------------------
	 nav link border bottom
-----------------------------------------------------------------*/


.nav-border-bottom .menuzord .menuzord-menu>li>a,
.nav-border-bottom .menuzord .menuzord-menu>li>a{
    border-bottom:1px solid transparent;
}




/* ----------------------------------------------------------------
	nav center align
-----------------------------------------------------------------*/

.nav-center-align {
    text-align: center;
}

.nav-center-align .logo-brand,
.nav-center-align .menuzord-menu,
.nav-center-align .menuzord-menu>li {
    float: none;
}

.nav-center-align .logo-brand {
    margin: 0;
}

.nav-center-align .menuzord-menu ul.dropdown,
.nav-center-align .menuzord-menu>li>.megamenu {
    text-align: left;
}


.nav-block-left .menuzord-menu  {
    width: 100%;
    height: 60px;
}

.nav-center-align .menuzord-menu>li>a,
header.nav-center-align li.nav-icon i{
    line-height: 60px;
}

.border-tb {
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
}

header.nav-center-align {
    height: auto;
}

.header-full-width.nav-center-align .container {
    padding: 0;
}


/* ----------------------------------------------------------------
	 nav bottom position
-----------------------------------------------------------------*/

.nav-bottom {
    position: absolute;
    bottom: 0;
    box-shadow: 0 1px 0 rgba(0,0,0,.05);
}

/*header.sticky.nav-bottom {*/
    /*position: fixed;*/
    /*top: 0;*/
    /*bottom: auto;*/
/*}*/

/* ----------------------------------------------------------------
	 nav block left align
-----------------------------------------------------------------*/

.nav-block-left {
    text-align: left;

}

.nav-block-left .menuzord-menu  {
    width: 100%;
    height: 60px;
}


.nav-block-left .logo-brand,
.nav-block-left .menuzord-menu,
.nav-block-left .menuzord-menu>li {
    float: left;
}


.nav-block-left .menuzord-menu>li>a,
header.nav-block-left li.nav-icon i{
    line-height: 60px;
}

.nav-block-left .menuzord-menu ul.dropdown,
.nav-block-left .menuzord-menu>li>.megamenu {
    text-align: left;
}


header.nav-block-left {
    height:auto;
}

.header-full-width.nav-center-align .container {
    padding: 0;
}


/*top-ads*/


.top-ads {
    float: right;
    margin-top: 10px;
}

/* ----------------------------------------------------------------
	 pre-defined >  margin top | margin bottom
-----------------------------------------------------------------*/

/*margin top*/

.m-top-0{
    margin-top: 0px !important;
}
.m-top-10 {
    margin-top: 10px;
}
.m-top-15 {
    margin-top: 15px;
}
.m-top-20 {
    margin-top: 20px;
}
.m-top-25 {
    margin-top: 25px;
}
.m-top-30 {
    margin-top: 30px;
}
.m-top-35 {
    margin-top: 35px;
}
.m-top-40 {
    margin-top: 40px;
}
.m-top-50 {
    margin-top: 50px;
}
.m-top-80 {
    margin-top: 80px;
}
.m-top-100 {
    margin-top: 100px;
}

.m-top-0, .m-top-10, .m-top-15, .m-top-20, .m-top-25, .m-top-30, .m-top-35, .m-top-40, .m-top-50, .m-top-80, .m-top-100,
.m-bot-0, .m-bot-10, .m-bot-15, .m-bot-20, .m-bot-25, .m-bot-30, .m-bot-35, .m-bot-40, .m-bot-50, .m-bot-80, .m-bot-100{
    display: inline-block;
}

/*margin bottom*/

.m-bot-0 {
    margin-bottom: 0px !important;
}
.m-bot-10 {
    margin-bottom: 10px;
}

.m-bot-15 {
    margin-bottom: 15px;
}

.m-bot-20 {
    margin-bottom: 20px;
}

.m-bot-25 {
    margin-bottom: 25px;
}

.m-bot-30 {
    margin-bottom: 30px;
}

.m-bot-35 {
    margin-bottom: 35px;
}

.m-bot-40 {
    margin-bottom: 40px;
}

.m-bot-50 {
    margin-bottom: 50px;
}

.m-bot-80 {
    margin-bottom: 80px;
}

.m-bot-100 {
    margin-bottom: 100px;
}


/*padding top*/

.p-top-0{
    padding-top: 0px !important;
}
.p-top-10 {
    padding-top: 10px;
}
.p-top-15 {
    padding-top: 15px;
}
.p-top-20 {
    padding-top: 20px;
}
.p-top-25 {
    padding-top: 25px;
}
.p-top-30 {
    padding-top: 30px;
}
.p-top-35 {
    padding-top: 35px;
}
.p-top-40 {
    padding-top: 40px;
}
.p-top-50 {
    padding-top: 50px;
}
.p-top-80 {
    padding-top: 80px;
}
.p-top-100 {
    padding-top: 100px;
}

.p-tb-10 {
    padding: 10px 0;
}

.p-tb-20 {
    padding: 20px 0;
}

.p-tb-30 {
    padding: 30px 0;
}


.p-tb-50 {
    padding: 50px 0;
}


.p-tb-100 {
    padding: 100px 0;
}


.p-tb-150 {
    padding: 150px 0;
}

.p-tb-200 {
    padding: 200px 0;
}

.p-top-0 {
    padding-top: 0 !important;
}

.p-bot-0 {
    padding-bottom: 0 !important;
}

.p-bot-100 {
    padding-bottom: 100px !important;
}

.inline-block {
    display: inline-block;
    width: 100%;
}

.theme-bg-space {
    padding: 10px 20px;
}


.bg-space-lg {
    padding: 40px;
}

/* ----------------------------------------------------------------
	body content
-----------------------------------------------------------------*/

.body-content {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.parallax {
    background-image: url("../img/demo.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100vh;
    background-position: 50% 50%;
}

.parallax-inner {
    background-image: url("../img/demo.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding: 150px 0;
    background-position: 50% 50%;
}

.banner-state {
    background-image: url("../img/banner/menu_banner.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100vh;
    background-position: 50% 50%;
}


.full-banner {
    background-image: url('../img/banner/creative-banner.jpg');
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    position: relative;
    background-position: 50% 50%;
}


.page-content {
    padding: 100px 0;
    display: inline-block;
    width: 100%;
}

.page-content-sm {
    padding: 50px 0;
    display: inline-block;
    width: 100%;
}

.full-content {
    display: inline-block;
    width: 100%;
    padding: 0px 0 !important;
}

.overlay-dark {
    background: rgba(0,0,0,.5);
    display: inherit;
}

.overlay-light {
    background: rgba(255,255,255,.5);
    display: inherit;
}

.breadcrumb li {
    text-transform: uppercase;
}

.breadcrumb li > a  {
    color: #7e7e7e;
}

.breadcrumb li > a:hover {
    color: #222;
}

.breadcrumb>.active {
    color: #222;
}

.massive-list {
    padding-left:15px;
}

.massive-list li{
    margin-bottom: 10px;
}


/* ----------------------------------------------------------------
	portfolio
-----------------------------------------------------------------*/

.portfolio {
    margin: 50px 0;
}

.portfolio .portfolio-item {
    float: left;
}

.portfolio .portfolio-item .thumb {
    position: relative;
}

.portfolio .portfolio-item .thumb img{
    width: 100%;
    height: auto;
    display: block;
}

.portfolio-hover {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    border: 20px solid rgba(0, 0, 0, 0.3);
    background-color: rgba(255, 255, 255, 0.7);
    opacity: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}


.portfolio-item:hover .portfolio-hover,
.portfolio-item:hover .portfolio-hover .portfolio-description,
.portfolio-item:hover .portfolio-hover .action-btn {
    opacity: 1;
}


.portfolio-item:hover .portfolio-hover .portfolio-description {
    bottom: 45%;
    margin-bottom: -90px;
}

.portfolio-item:hover .portfolio-hover .action-btn {
    top: 40%;
    margin-top: -55px;
}

.portfolio-hover .portfolio-description {
    position: absolute;
    bottom: 0%;
    width: 100%;
    opacity: 0;
    -webkit-transform: translateY(-55%);
    -ms-transform: translateY(-55%);
    transform: translateY(-55%);
    -webkit-transition: all 0.3s 0.2s;
    transition: all 0.3s 0.2s;
}


.portfolio-hover .action-btn {
    position: absolute;
    top: 0;
    width: 100%;
    opacity: 0;
    text-align: center;
    -webkit-transform: translateY(45%);
    -ms-transform: translateY(45%);
    transform: translateY(45%);
    -webkit-transition: all 0.3s 0.2s;
    transition: all 0.3s 0.2s;
    font-size: 35px;
}

.portfolio-description,
.portfolio-description h4 a,
.portfolio-hover .action-btn a {
    text-align: center;
    color: #222;
}

.portfolio-description h4 {
    margin-bottom: 5px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.portfolio-description p {
    font-size:12px;
    margin-bottom: 0;
    text-transform: uppercase;
    font-family: 'Abel', sans-serif;
    font-weight: normal;
    letter-spacing: 3px;
    color: #757575;
}

.portfolio-description a,
.portfolio-title a {
    color: #757575;
}

/*gutter*/

.portfolio.gutter .portfolio-item {
    padding: 10px;
}


/*portfolio 2 grid*/

.portfolio.col-2 .portfolio-item {
    width: 49.99%;
}


/*portfolio 3 grid*/

.portfolio.col-3 .portfolio-item {
    width: 33.3333333%;
}

/*portfolio 4 grid*/

.portfolio.col-4 .portfolio-item {
    width: 24.98%;
}

/*portfolio 5 grid*/

.portfolio.col-5 .portfolio-item {
    width: 19.99%;
}

/*portfolio 6 grid*/

.portfolio.col-6 .portfolio-item {
    width: 16.666666667%;
}

.portfolio-filter {
    margin:0px;
    padding: 0px;
    list-style: none;
}

.portfolio-filter li {
    display: inline-block;
}

.portfolio-filter li a {
    color: #a9a8a8;
    margin: 0 15px;
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Abel', sans-serif;
    letter-spacing: 3px;
}


.portfolio-filter li a:hover,
.portfolio-filter li.active a{
    color: #222222;
}



/* ----------------------------------------------------------------
	portfolio with title
-----------------------------------------------------------------*/


.portfolio-with-title .portfolio-item:hover .portfolio-hover .action-btn {
    top: 50%;
    margin-top: -45px;
}

.portfolio-with-title .portfolio-title {
    padding: 15px 0px;
}

.portfolio-with-title .portfolio-title h4,
.portfolio-with-title .portfolio-title h4 a {
    margin: 0;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color:#222
}

.portfolio-with-title .portfolio-title h3,
.portfolio-with-title .portfolio-title h3 a {
    margin: 0 0 10px 0;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color:#222
}

.portfolio-with-title .portfolio-title p {
    margin: 0;
    font-size: 12px;
    text-transform: uppercase;
    font-family: 'Abel', sans-serif;
    font-weight: normal;
    letter-spacing: 2px;
    color: #7e7e7e;
}


.portfolio-with-title.portfolio-masonry .portfolio-title {
    padding: 15px;
}


.portfolio-with-title.portfolio-masonry.gutter .portfolio-title {
    padding: 15px 0;
}

/* ----------------------------------------------------------------
	portfolio masonry
-----------------------------------------------------------------*/


.portfolio-masonry {

}

/* clear fix */
.portfolio-masonry:after {
    content: '';
    display: block;
    clear: both;
}

/* ---- .grid-item ---- */

.portfolio-masonry .portfolio-item {
    float: left;
}

.portfolio-masonry .portfolio-item-width2 { width: 200px; }
.portfolio-masonry .portfolio-item-height2 { height: 200px; }



/* ----------------------------------------------------------------
	Isotope Filtering
-----------------------------------------------------------------*/


.isotope-item {
    z-index: 2;
}

.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}

/*Isotope CSS3 transitions */

.isotope,
.isotope .isotope-item {
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -ms-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
}

.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    -ms-transition-property: height, width;
    -o-transition-property: height, width;
    transition-property: height, width;
}

.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    -ms-transition-property: -ms-transform, opacity;
    -o-transition-property: -o-transform, opacity;
    transition-property: transform, opacity;
}

/*disabling Isotope CSS3 transitions */

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -ms-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
}


/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}




/* ----------------------------------------------------------------
	portfolio details
-----------------------------------------------------------------*/

/*videos*/

.video-parallax {
    position: relative;
    overflow: hidden;
}

.video-parallax .container{
    position: absolute;
    top: 50%;
    z-index: 100;
    left: 0;
    right: 0;
    color: #fff;
    margin-top: -80px;
}

.video-parallax .container i{
    font-size: 50px;
    margin-bottom: 30px;
    display: block;
}

.video-parallax .container+.video-wrap {
    z-index: 1;
}

.video-wrap {
    overflow: hidden;
    width: 100%;
    position: relative;
}

.video-overlay, .banner-overaly {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 5;
    background: rgba(0,0,0,0.5);
    -webkit-backface-visibility: hidden;
}

/*portfolio-meta*/

.portfolio-meta {
    list-style: none;
    padding: 0;
}

.portfolio-meta li {
    margin: 15px 0;
    color: #666;
}

.portfolio-meta li span {
    display: inline-block;
    width: 130px;
    letter-spacing: 2px;
    color: #000;
    font-size: 12px;
    text-transform: uppercase;
}

.portfolio-meta li a {
    margin-right: 10px;
    color: #cdcdcd;
}
.portfolio-meta li a:hover {
    color: #323232;
}

/* ----------------------------------------------------------------
	portfolio nav
-----------------------------------------------------------------*/

.portfolio-nav-row {
    position: relative;
    padding: 40px 0;
}

.portfolio-nav {
    position: absolute;
    top: 50%;
    left: auto;
    right: 10px;
    max-width: 300px;
    margin-top: -12px;
}

.portfolio-nav.left {
    position: absolute;
    top: 50%;
    left: 0;
    right: auto;
    max-width: 300px;
    margin-top: -12px;
}

.portfolio-nav a {
    display: block;
    float: left;
    text-align: center;
    color: #aeaeae;
    margin-left: 20px;
}

.portfolio-nav.left a {
    margin-right: 20px;
    margin-left: 0;
}

.portfolio-nav a:hover,
.portfolio-nav a:hover span{
    color: #323232;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.portfolio-nav a span, .portfolio-nav a span i {
    display: inline-block;
    margin-top: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}


.portfolio-gap-less .portfolio {
    margin: 0px;
}

/* ----------------------------------------------------------------
	masonry grid
-----------------------------------------------------------------*/

.tb-grid {
    width: 100%;
    margin: auto;
}

.tb-grid .box {
    width:33.3333%;
    padding-top: 33.3333%;
}

.tb-grid .box2 {
    padding-top: 33.3333%;
    width:66.6666%;
}

.tb-grid .box3 {
    padding-top: 66.6666%;
    width:66.6666%;
}

.tb-grid .box-nano {
    width: 50%;
    padding-top: 50%;
    float: left;
    margin: 0;
    position: relative;
}

.tb-grid .box,
.tb-grid .box2,
.tb-grid .box3 {
    display: inline-block;
}

.tb-grid .item > .item-inner,
.tb-grid .box-nano > .item-inner {
    position: absolute;
    margin: 0;
    top: 5px;
    right: 5px;
    bottom: 5px;
    left: 5px;
    background-size: cover;
    background-position: 50% 0;
    background-repeat: no-repeat;
    cursor: crosshair;

}

.tb-grid .items > .item-inner {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}


/* ----------------------------------------------------------------
	Flex Slider
-----------------------------------------------------------------*/

.slides {
    margin: 0;
    padding: 0;
    list-style: none;
}

.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {
    outline: none;
    border: none;
}
.flex-control-nav {
    margin: 0;
    padding: 0;
    list-style: none;
    border: none;
}

.flex-direction-nav {
    display: none;
}

.flexslider {
    position: relative;
    margin: 0;
    padding: 0;
}

.flex-viewport {
    max-height: 2000px;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.flex-control-nav {
    position: absolute;
    z-index: 10;
    text-align: center;
    bottom: 15px;
    right: 15px;
    margin: 0;
}

.flex-control-nav li {
    float: left;
    display: block;
    margin: 0 3px;
    width: 10px;
    height: 10px;
}

.flex-control-nav li a {
    display: block;
    cursor: pointer;
    text-indent: -9999px;
    width: 10px;
    height: 10px;
    border: 1px solid #fff;
    border-radius: 50%;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

.flex-control-nav li:hover a,
.flex-control-nav li a.flex-active {
    background-color: #fff;
}

/*---*/

.flex-direction-nav {
    margin: 0;
    padding: 0;
    list-style: none;
}

.flex-direction-nav {
    *height: 0;
}

.flex-direction-nav a {
    text-decoration: none;
    display: block;
    width: 40px;
    height: 40px;
    margin: -40px 0 0;
    position: absolute;
    top: 50%;
    z-index: 200;
    overflow: hidden;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
    color: rgba(0, 0, 0, 0.8);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    line-height: 40px;
}

.flex-direction-nav a:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.flex-direction-nav a:before {
    font-family: "fontawesome";
    font-size: 16px;
    display: block;
    content: '\f104';
    color: #fff;
    text-align: center;
    width: 40px;
}

.flex-direction-nav a.flex-next:before {
    content: '\f105';
}

.flex-direction-nav .flex-prev {
    left: 0px;
}

.flex-direction-nav .flex-next {
    right: 0px;
    text-align: right;
}

/*----*/

.post-slider-thumb .flex-control-thumbs {
    position: relative;
    z-index: 10;
    text-align: left;
    top: 10px;
    right: auto;
    margin: 0 auto;
    left: auto;
}

.post-slider-thumb .flex-control-thumbs li {
    float: none;
    display: inline-block;
    margin: 0 3px 0 0;
    width: 80px;
    height: auto;
    cursor: pointer;
}

.post-slider  .flex-direction-nav,
.post-slider-thumb  .flex-direction-nav {
    display: block;
}

.post-slider .flex-direction-nav .flex-prev,
.post-slider .flex-direction-nav .flex-next,
.post-slider-thumb .flex-direction-nav .flex-prev,
.post-slider-thumb .flex-direction-nav .flex-next
{
    opacity: 0;
}

.post-slider:hover .flex-direction-nav .flex-prev,
.post-slider:hover .flex-direction-nav .flex-next,
.post-slider-thumb:hover .flex-direction-nav .flex-prev,
.post-slider-thumb:hover .flex-direction-nav .flex-next {
    opacity: 1;
}

.post-list-aside .post-img img  {
    border: 2px solid transparent;
}

.post-list-aside .post-img img.flex-active {
    border: 2px solid rgba(0, 0, 0, 0.8);
}

.post-slider .flex-control-thumbs{
    display: none;
}


/* ---------------
   RESPONSIVE
 * --------------*/

@media screen and (max-width: 860px) {

    .flex-direction-nav .flex-prev,
    .post-slider .flex-direction-nav .flex-prev,
    .post-slider-thumb .flex-direction-nav .flex-prev {
        opacity: 1;
        left: 0px;
    }
    .flex-direction-nav .flex-next,
    .post-slider .flex-direction-nav .flex-next,
    .post-slider-thumb .flex-direction-nav .flex-next{
        opacity: 1;
        right: 0px;
    }
}

/* ----------------------------------------------------------------
    slider revolution
-----------------------------------------------------------------*/

.slider-revulation-wrapper {

}

.tp-banner-container{
    width:100%;
    position:relative;
    padding:0;

}

.tp-banner{
    width:100%;
    position:relative;
}

.tp-banner > ul {
    padding: 0;
    list-style: none;
}

.tp-banner-fullscreen-container {
        width:100%;
        position:relative;
        padding:0;
}

/* custom caption */

.rev-heading {
    color: #333;
    font: normal 60px/1.5 'Abel', sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.rev-subheading {
    font-family: 'Abel', sans-serif;
    text-transform: uppercase;
    color: #555;
    font-size: 20px;
    letter-spacing: 6px;
}

.rev-desc {
    font-size: 16px;
    color: #454545;
    line-height: 26px;
}

.rev-white {
    color: #fff;
}

/* ----------------------------------------------------------------
	maintenance
-----------------------------------------------------------------*/

.maintenance-banner {
    background: #ededed;
}

.maintenance-banner p {
    font-size: 16px;
}


/* ----------------------------------------------------------------
	top bar
-----------------------------------------------------------------*/

.top-bar {
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #eee;
}

.top-bar .gray-bg {
    background: #f5f5f5;
}

.top-social-link a{
    color: #aaaaaa;
    display: inline-block;
    margin-right: 10px;
}


.top-social-link a:hover,
.top-link li a:hover {
    color: #222;
}

.top-link {
    padding: 0;
    margin: 0;
    list-style: none;
    float: right;
}

.top-link li {
    display: inline-block;
    margin:0 5px;
}

.top-link li i,
.top-link li a i{
    margin-right: 10px;
}

.top-link li,
.top-link li a{
    color: #aaaaaa;
}

.top-link.text-uppercase {
    font-size: 12px;
}


.top-bar .col-lg-1,
.top-bar .col-lg-10,
.top-bar .col-lg-11,
.top-bar .col-lg-12,
.top-bar .col-lg-2,
.top-bar .col-lg-3,
.top-bar .col-lg-4,
.top-bar .col-lg-5,
.top-bar .col-lg-6,
.top-bar .col-lg-7,
.top-bar .col-lg-8,
.top-bar .col-lg-9,
.top-bar .col-md-1,
.top-bar .col-md-10,
.top-bar .col-md-11,
.top-bar .col-md-12,
.top-bar .col-md-2,
.top-bar .col-md-3,
.top-bar .col-md-4,
.top-bar .col-md-5,
.top-bar .col-md-6,
.top-bar .col-md-7,
.top-bar .col-md-8,
.top-bar .col-md-9,
.top-bar .col-sm-1,
.top-bar .col-sm-10,
.top-bar .col-sm-11,
.top-bar .col-sm-12,
.top-bar .col-sm-2,
.top-bar .col-sm-3,
.top-bar .col-sm-4,
.top-bar .col-sm-5,
.top-bar .col-sm-6,
.top-bar .col-sm-7,
.top-bar .col-sm-8,
.top-bar .col-sm-9,
.top-bar .col-xs-1,
.top-bar .col-xs-10,
.top-bar .col-xs-11,
.top-bar .col-xs-12,
.top-bar .col-xs-2,
.top-bar .col-xs-3,
.top-bar .col-xs-4,
.top-bar .col-xs-5,
.top-bar .col-xs-6,
.top-bar .col-xs-7,
.top-bar .col-xs-8,
.top-bar .col-xs-9 {
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
}

.top-link.divider li:after{
    content: '/';
    padding-left: 13px;
    display: inline-block;
}

.top-link.divider li:last-child:after {
    content: '';
    display: inline-block;
}



/* ----------------------------------------------------------------
	primary nav
-----------------------------------------------------------------*/


#primary_nav_wrap {

}

#primary_nav_wrap ul
{
    list-style:none;
    position:relative;
    float:left;
    margin:0;
    padding:0;
    z-index: 1200;

}

#primary_nav_wrap ul a
{
    display:block;
    color:#8B8B8B;
    text-decoration:none;
    font-size:12px;
    line-height:40px;
    padding:0 15px;
}

#primary_nav_wrap ul li
{
    position:relative;
    float:left;
    margin:0;
    padding:0
}

#primary_nav_wrap ul li.current-menu-item
{
    background:#ddd
}

#primary_nav_wrap ul li:hover
{
    background: rgba(255,255,255,.06);
}

#primary_nav_wrap ul ul
{
    display:none;
    position:absolute;
    top:100%;
    left:15px;
    background:#222;
    /*border: 1px solid #eee;*/
    padding:0
}

#primary_nav_wrap ul ul li
{
    float:none;
    min-width:150px
}

#primary_nav_wrap ul ul a
{
    line-height:120%;
    padding:10px 15px;
    color: #b0b0b0;
}

#primary_nav_wrap ul ul ul
{
    top:0;
    left:100%
}

#primary_nav_wrap ul li:hover > ul
{
    display:block
}




/* ----------------------------------------------------------------
	countdown
-----------------------------------------------------------------*/

.count-down,
.count-down-alt {
    text-transform: uppercase;
    font-family: 'Abel', sans-serif;
}

.count-down .c-grid,
.count-down-alt .c-grid {
    width: 150px;
    height: 150px;
    display: inline-block;
    text-align: center;
    padding-top: 42px;
    margin: 0 20px;
}

.count-down.light-bg .c-grid,
.count-down-alt.light-bg .c-grid {
    background: #fff;
}

.count-down-alt .c-grid {
    border: 5px solid rgba(0,0,0,.2);
}

.count-down .c-grid  {
    border: 1px solid #e0e0e0;
}

.count-down .c-grid,
.count-down.light .c-grid  {
    border: 1px solid #fff;
}

.count-down.light .c-value,
.count-down.light .c-title,
.count-down-alt.light .c-value,
.count-down-alt.light .c-title {
    color: #fff;
}

.count-down .c-value,
.count-down .c-title,
.count-down-alt .c-value,
.count-down-alt .c-title {
    display: block;
}

.count-down .c-value,
.count-down-alt .c-value {
    font-size: 30px;
}

.count-down .c-title,
.count-down-alt .c-title {
    font-size: 14px;
    letter-spacing: 3px;
}

.count-down.circle .c-grid,
.count-down-alt.circle .c-grid  {
    border-radius: 50% !important;
}

.count-down.round .c-grid,
.count-down-alt.round .c-grid  {
    border-radius: 5px !important;
}

.count-parallax {
    background-image: url("../img/parallax/5.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.relative {
    position: relative;
}


.count-icon {
    position: absolute;
    right: 0;
    top: 50px;
}

.count-icon i {
    font-size: 40px;
}



/* ----------------------------------------------------------------
	bs slider
-----------------------------------------------------------------*/


.bs-hero.full-screen .carousel-inner .item img{
    height: 100vh;
    width: 100%;
}


.bs-hero.full-screen .carousel-inner .item .bs-info {
    position: absolute;
    top: 40%;
    left: 20%;
}

.bs-hero.full-screen .carousel-inner .item .bs-info h1 {
    text-transform: uppercase ;
}

.bs-hero.full-screen .carousel-indicators {
    z-index: 1200;
}


.bs-hero.full-screen .carousel-inner .item .bs-info h1 span {
    font-size: 18px;
}


.bs-hero.full-screen .carousel.slide .carousel-control {
    width: 30%;
    margin-top: 180px;
    margin-bottom: 120px;
}




/* ----------------------------------------------------------------
	static banner
-----------------------------------------------------------------*/

.vertical-align {
    position: relative;
}

.vertical-align .container-mid{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    z-index: 200;
}

.light-box,
.dark-box {
    padding: 70px 50px;
}

.light-box {
    background: rgba(255,255,255,.5);
    outline: 5px solid rgba(255,255,255,.5);
    outline-offset: 5px;
}

.dark-box {
    background: rgba(0,0,0,.5);
    outline: 5px solid rgba(0,0,0,.5);
    outline-offset: 5px;
}

.banner-box {
    max-width: 650px;
    margin: 0 auto;
}

.banner-box h1,
.banner-box h3,
.banner-title h1,
.banner-title h3,
.banner-box h2,
.banner-box h2,
.banner-title h2,
.banner-title h2 {
    margin-bottom: 0;
}

.banner-box h1,
.banner-title h1 {
    letter-spacing: 5px;
    font-size:60px;
}

.banner-box h3,
.banner-title h3 {
    letter-spacing: 6px;
    font-size:20px;
}

.banner-title.light-txt h1,
.banner-title.light-txt h2,
.banner-title.light-txt h3
{
    color: #fff;
}

header.transparent-header + .vertical-align .banner-title,
header .semi-transparent + .vertical-align .banner-title {
    margin-top: 0;
}


header + .vertical-align .banner-title {
    margin-top: 100px;
}


/*spacing*/

.ls-20 {
    letter-spacing: 20px !important;
}

.ls-40 {
    letter-spacing: 40px !important;
}

.b-lg-txt {
    font-size: 100px !important;
}



/*----------------*/

.hero-text {
    position: relative;
    z-index: 6000;
}

.hero-text h1{
    margin-bottom: 10px;
}

.hero-text a {
    margin: 10px 5px;
}


.banner-scroll a {
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -11px;
    text-transform: uppercase;
    font-size: 12px;
    color: #fff;
}

.banner-scroll a:before {
    display: block;
    content: "";
    width: 25px;
    height: 35px;
    border: 2px solid #fff;
    border-radius: 15px;
    margin-left: 5px;
    margin-bottom: 5px;
}

.banner-scroll .scroll-down {
    display: block;
    width: 2px;
    height: 8px;
    background: #fff;
    margin-left: -3px;
    position: absolute;
    left: 50%;
    top: 8px;

    -webkit-animation: 3s arrow infinite ease;
    animation: 3s arrow infinite ease;

    z-index: 2;
}

/*--------------------------------------
    video banner
--------------------------------------*/

.video-banner {
    height:100vh;
    width: 100%;
    display: block;
    position: relative;
    overflow: hidden;
}

.video-banner.overlay-background .container {
    z-index: 300;
    position: absolute;
}


.overlay-background{
    background-attachment: fixed;
    background-position: 50% 0;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
}
.overlay-background .container{
    z-index: 300;
    position: relative;
}

.overlay-block{
    width:100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(0,0,0,.7);
    /*background-image: url("../img/stripe.png");*/
    z-index: 200;
}

.overlay-block-light{
    width:100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(0,0,0,.45);
    /*background-image: url("../img/stripe.png");*/
    z-index: 200;
}


/* --------------------------
    custom pagination
----------------------------*/

.custom-pagination > li:first-child > a, .custom-pagination > li:first-child > span,
.custom-pagination > li:last-child > a, .custom-pagination > li:last-child > span{
    border-radius: 0;
    -webkit-border-radius: 0;
}

.custom-pagination > li > a {
    margin: 0 3px;
    color: #424242;
}

.custom-pagination > li > a:hover {
    color:#000 ;
}

.custom-pagination.pagination>.active>a,
.custom-pagination.pagination>.active>a:focus,
.custom-pagination.pagination>.active>a:hover,
.custom-pagination.pagination>.active>span,
.custom-pagination.pagination>.active>span:focus,
.custom-pagination.pagination>.active>span:hover {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #222;
    border-color: #222;
}



/*--------------------------------------
    Product list
--------------------------------------*/

.cart-info .megamenu-quarter-width {
    width: 450px !important;
}

.cart-table-list,
.cart-table-list i{
    color: #fff;
    border: none;
}

header li.nav-icon .cart-table-list a {
    line-height: normal;
    color: #fff;
}

.total-cart {
    display: inline-block;
    width: 100%;
    border-top: 1px solid rgba(255,255,255,.2);
    padding-top: 20px;
    margin-bottom: 20px;
    float: right;
    color: #fff;
    text-align: right;
}

.total-cart ul {
    float: right;
    list-style: none;
    padding: 0;
    width: 100%;
}

.total-cart ul li{
    display: block;
    overflow: hidden;
}

.total-cart ul li span {
    width: 100px;
    display: inline-block;
    text-align: right;
    white-space: nowrap;
}

.cart-table-list a.close img {
    width: 11px;
    height: 11px;
}

.cart-table-list td img {
    width: 50px;
    height: auto;
}


.s-cart-btn a {
    margin: 0 0 10px 10px;
    color: #fff !important;
}

.cart-table-list.table>tbody>tr>td {
    border: none;
    line-height: 20px;
    height: 20px;
    vertical-align: middle;
}

.product-list {
    margin-bottom: 50px;
    min-height: 440px;
}

.product-list .product-img {
    position: relative;
    width: 100%;
    /*height: 340px;*/
    overflow: hidden;
    margin-bottom: 20px;
}

.product-img:hover>a:nth-of-type(2) {
    opacity: 1;
    z-index: 2;
}

.product-img>a:nth-of-type(2) {
    opacity: 0;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
}

.sale-label {
    position: absolute;
    left: 10px;
    top:10px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    z-index: 10;
}

.product-img>a, .product-img:hover>a {
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}


.product-list .product-img img,
.product-img img, .product-img>a {
    display: block;
    width: 100%;
    height: 100%;
}

.product-title h5 {
    margin-bottom: 10px;
    font-size: 12px;
    text-transform: uppercase;
}

.product-title h5 a {
    color: #222;
}

.product-price {
    font-size: 18px;
    margin-bottom: 5px;
}

.product-price del {
    color: #837f7e;
    font-size: 14px;
}

.product-rating {
    display: inline-block;
    width: 100%;
    margin-bottom: 15px;
    color: #9b9a9a;
}


.product-cart {
    font-size: 12px;
}


.product-grid input {
    box-shadow: none;
    border-radius: 0;
    height: 40px;
}


.product-grid input:focus,
.product-grid .form-control:focus,
.portfolio-meta .form-control:focus{
    box-shadow: none;
    border-color: #000;
}


.product-grid button.btn,
.p-values,
.full-width button.btn{
    width: 100%;
}

.fit-img img {
    width: 100%;
    height: auto;
}

.product-grid .form-control,
.p-quantity .form-control,
.portfolio-meta .form-control {
    box-shadow: none;
}

.p-quantity {
    /*padding: 0;*/
    list-style: none;
    margin-bottom: 0;
}

.p-values {
    display: inline-block;
}

.p-values ul {
    float: left;
}

.p-quantity li  {
    float: left;
    width: 130px;
    letter-spacing: 2px;
    color: #000;
    margin: 15px 0;
    font-size: 12px;
    text-transform: uppercase;
}

.p-quantity li label {
    padding-top: 7px;
    font-weight: normal;
}

.p-quantity .input-group-btn:first-child>.btn,
.p-quantity .input-group-btn:first-child>.btn-group{
    margin-right: -1px;
}


.p-quantity .btn.focus,
.p-quantity .btn:focus,
.p-quantity .btn:hover {
    color: #222 !important;
}

.txt-xl {
    font-size: 26px !important;
    font-weight: 300;
    line-height: 36px;
}

.txt-sm {
    font-size: 16px !important;
    font-weight: normal;
    line-height: 20px;
}


.product-grid .col-lg-1,
.product-grid .col-lg-10,
.product-grid .col-lg-11,
.product-grid .col-lg-12,
.product-grid .col-lg-2,
.product-grid .col-lg-3,
.product-grid .col-lg-4,
.product-grid .col-lg-5,
.product-grid .col-lg-6,
.product-grid .col-lg-7,
.product-grid .col-lg-8,
.product-grid .col-lg-9,
.product-grid .col-md-1,
.product-grid .col-md-10,
.product-grid .col-md-11,
.product-grid .col-md-12,
.product-grid .col-md-2,
.product-grid .col-md-3,
.product-grid .col-md-4,
.product-grid .col-md-5,
.product-grid .col-md-6,
.product-grid .col-md-7,
.product-grid .col-md-8,
.product-grid .col-md-9,
.product-grid .col-sm-1,
.product-grid .col-sm-10,
.product-grid .col-sm-11,
.product-grid .col-sm-12,
.product-grid .col-sm-2,
.product-grid .col-sm-3,
.product-grid .col-sm-4,
.product-grid .col-sm-5,
.product-grid .col-sm-6,
.product-grid .col-sm-7,
.product-grid .col-sm-8,
.product-grid .col-sm-9,
.product-grid .col-xs-1,
.product-grid .col-xs-10,
.product-grid .col-xs-11,
.product-grid .col-xs-12,
.product-grid .col-xs-2,
.product-grid .col-xs-3,
.product-grid .col-xs-4,
.product-grid .col-xs-5,
.product-grid .col-xs-6,
.product-grid .col-xs-7,
.product-grid .col-xs-8,
.product-grid .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}


.product-grid .row {
    margin-right: -15px;
    margin-left: -15px;
}


.stock .number-item {
    font-size: 30px;
    color: #757575;
}

.stock .status {
    color: #fff;
    padding: 5px 10px;
    display: initial;
    border-radius: 2px;
    letter-spacing: normal;
}

.review-avatar {
    width: 60px;
    margin-right: 10px;
    height: auto;
}

.review-rating i {
    padding: 0 !important;
}

.review-rating {
    float: right;
}


.cart-table   {
    border: 1px solid #ddd;
}

.cart-table  td a {
    color: #222;
}

.cart-table  td a:hover {
    color: #000;
}

.cart-table thead th {
    text-transform: uppercase;
}


.cart-table.table>tbody>tr>td,
.cart-table.table>tbody>tr>th,
.cart-table.table>tfoot>tr>td,
.cart-table.table>tfoot>tr>th,
.cart-table.table>thead>tr>td,
.cart-table.table>thead>tr>th {
    vertical-align: middle;
}

.cart-img img {
    width: 60px;
    height: auto;
}


.cart-action input {
    padding: 6px 3px 6px 6px;
}

.cart-action input,
.cart-action button {
    float: left;
    margin-right: 3px;
}

.cart-action button:hover i {
    color: #222;
}

.cart-quantity {
    width: 45px;
    border-radius: 0;
}

.coupon-form input {
    height: 40px;
    border-radius: 0;
}

.coupon-form label {
    font-weight: normal;
    text-transform: uppercase;
}

.cart-total {
    font-size: 16px;
}

.cart-btn-row a {
    margin-right: 0;
    margin-left: 10px;
}

.coupon-form label  {
    margin-right: 20px;
}
.coupon-form input {
    margin-right: 10px;
}

.pro-box .one-third,
.featured-box.pro-box  .one-third:nth-child(2){
    padding:10px 5px;
}

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: none;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/*--------------------------------------
    contact us
--------------------------------------*/

.contact-comments .col-md-6, .contact-comments .col-md-12 {
    padding-right: 15px;
    padding-left: 15px;
}

.form-control {
    box-shadow: none;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
}
.form-control:focus {
    border-color: #222;
    box-shadow: none;
}

.contact-comments .form-control {
    border-radius: 0;
    height: 40px;
}

.contact-comments .cmnt-text {
    height: 95px;
}

.contact-comments label {
    font-weight: normal;
    text-transform: uppercase;
    color: #7e7e7e;
}


address p {
    margin-bottom: 0px;
}


/*--------------------------------------
   event page
--------------------------------------*/

.ticket-register .form-control{
    border-radius: 5px;
    height: 40px;
    color: #A7A7A7;
}
.ticket-register .form-group,
.register-member a {
    margin: 0 5px;
}


.register-member a {
    display: inline-block;
    width: 60px;
    height: 60px;
    margin-bottom: 10px;

}

.register-member a img{
    width: 100%;
    height: auto;
    border-radius: 50%;
}

/*--------------------------------------
   magazine page
--------------------------------------*/

.magazine-slider {
    margin-top: 0;
}

.magazine-slider img {
    height: 424px;
}

.magazine-slider .container {
    width: auto;
}

.magazine-grid .row {
    margin-right: -10px;
    margin-left: -10px;
}

.magazine-grid .col-lg-1,
.magazine-grid .col-lg-10,
.magazine-grid .col-lg-11,
.magazine-grid .col-lg-12,
.magazine-grid .col-lg-2,
.magazine-grid .col-lg-3,
.magazine-grid .col-lg-4,
.magazine-grid .col-lg-5,
.magazine-grid .col-lg-6,
.magazine-grid .col-lg-7,
.magazine-grid .col-lg-8,
.magazine-grid .col-lg-9,
.magazine-grid .col-md-1,
.magazine-grid .col-md-10,
.magazine-grid .col-md-11,
.magazine-grid .col-md-12,
.magazine-grid .col-md-2,
.magazine-grid .col-md-3,
.magazine-grid .col-md-4,
.magazine-grid .col-md-5,
.magazine-grid .col-md-6,
.magazine-grid .col-md-7,
.magazine-grid .col-md-8,
.magazine-grid .col-md-9,
.magazine-grid .col-sm-1,
.magazine-grid .col-sm-10,
.magazine-grid .col-sm-11,
.magazine-grid .col-sm-12,
.magazine-grid .col-sm-2,
.magazine-grid .col-sm-3,
.magazine-grid .col-sm-4,
.magazine-grid .col-sm-5,
.magazine-grid .col-sm-6,
.magazine-grid .col-sm-7,
.magazine-grid .col-sm-8,
.magazine-grid .col-sm-9,
.magazine-grid .col-xs-1,
.magazine-grid .col-xs-10,
.magazine-grid .col-xs-11,
.magazine-grid .col-xs-12,
.magazine-grid .col-xs-2,
.magazine-grid .col-xs-3,
.magazine-grid .col-xs-4,
.magazine-grid .col-xs-5,
.magazine-grid .col-xs-6,
.magazine-grid .col-xs-7,
.magazine-grid .col-xs-8,
.magazine-grid .col-xs-9 {
    padding-left:10px;
    padding-right:10px;
}


.aside-social {
    border: 1px solid #ddd;
    font-size: 0;
    margin-bottom: 20px;
}

.aside-social li {
    border-left: 1px solid #ddd;
    padding-top: 8px;
    text-align: center;
    transition: background 0.3s ease 0s;
    width: 25%;
}

.aside-social li:hover {
    border-left: 1px solid #333;
    background: #333;
    transition: background 0.3s ease 0s;
    color: #fff;
}

.aside-social li:hover i,
.aside-social li:hover p {
    color: #fff;
    transition:  0.3s ease 0s;
}

.aside-social li:first-child {
    border-left: medium none;
}

.aside-social.list-inline > li {
    display: inline-block;
}

.aside-social.list-inline {
    margin-left: 0;
}

.aside-social li i {
    color: #aaa;
    font-size: 16px;
    margin-top: 5px;
    transition:  0.3s ease 0s;
}

.aside-social li p {
    font-size: 11px;
    margin-bottom: 6px;
    margin-top: 5px;
    transition:  0.3s ease 0s;
}


.newsletter {
    background: url("../img/parallax/3.jpg") repeat 0 0 / cover ;
    color: #fff;
    margin-bottom: 20px;
    padding: 20px;
}

.newsletter h3 {
    margin-bottom: 10px;
}

.newsletter p {
    line-height: 20px;
}

.round-less {
    border-radius: 0;
}

.magazine-grid .post-single .post-desk {
    height: auto;
}

.magazine-latest-news {
    background: #eeeeee;
    padding: 20px;
    position: relative;
}

.breaking {
    float: left;
    margin-right: 30px;
    background: #333;
    color: #fff;
    position: absolute;
    left: 0;
    top: 0;
    padding: 20px;
    text-transform: uppercase;
}

.breaking:after {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(51, 51, 51, 0);
    border-left-color: #333;
    border-width: 10px;
    margin-top: -10px;
}

.magazine-latest-news .news-slider {
    margin:0  150px 0 130px;
}

.magazine-latest-news .flex-control-nav {
    bottom: 25px;
}

.magazine-latest-news a {
    color: #333;
}

/*--------------------------------------
    catering page
--------------------------------------*/

.catering-form .form-control  {
    height: 65px;
    border: none;
}

.catering-form input {
    width: 400px !important;
}

.catering-form select {
    width: 200px !important;
}

.app-down-row {
    position: relative;
    height: 510px;
}

.app-down-row .cater-avatar {
    position: absolute;
    left: 0;
    top: -65px;
}

.app-btn a {
    margin-right: 10px;
}

.catering-list .post-single .post-desk {
    padding: 30px 0;
    height: 180px;
}

.app-down-row .app-info  {
    font-weight: 300;
}

.app-down-row .app-info span {
    font-weight: bold;
}

.float-left {
    float: left;
}

.txt-extra-xl {
    font-size: 70px;
}

.light-txt-trans {
    color: rgba(255,255,255,.5);
}

.f-menu-desk {
    color: #959595;
    margin-bottom: 15px;
}


/*--------------------------------------
    hotel page
--------------------------------------*/

.amenities-list li:last-child {
    border-bottom: 1px solid #9e9e9e;
}

.amenities-list li {
    border-top: 1px solid #9e9e9e;
    padding: 10px 0;
}

.hotel-intro-box-resize .post-single {
    width: 250px;
}


/*--------------------------------------
    app landing page
--------------------------------------*/

.app-device {
    /*position: relative;*/
}

.app-device img {
    position: absolute;
    right: 10%;
    bottom: 0;
}

.app-img-bottom {
    min-height: 600px;
}

.app-img-bottom img {
    position: absolute;
    left:15%;
    bottom: 0;
}

.app-icon i {
    margin-right: 15px;
    font-size: 30px;
    color: #dedede;
}



/* video/audio post */

.video-fit  {
    width: 100%;
    padding-top: 50%;
    position: relative;
}

.audio-fit {
    width: 100%;
    padding-top: 20%;
    position: relative;
}

.video-fit iframe, .video-fit object, .video-fit embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.audio-fit iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /*height: 100%;*/
    border: none;
}


/*--------------------------------------
   Slider Typist
--------------------------------------*/

@keyframes blink {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blink {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

.typist-blink:after {
    content: " ";
    display: inline-block;
    height: 47px;
    position: relative;
    top: 10px;
    margin-left: 3px;
    margin-right: 7px;
    border-right: 2px solid;
    animation: blink 1s step-start 0s infinite;
    -webkit-animation: blink 1s step-start 0s infinite;
}

.typist-blink > .selectedText {
    display: none;
}

.typist-mark > .selectedText {
    color: #fff;
    background-color: #222;
    font-style: normal;
}


/*--------------------------------------
    Boxed View
--------------------------------------*/

.boxed.box-bg {
    background: #ddd;
}

.boxed .wrapper {
    width: 1170px;
    margin: 0 auto;
    background: #fff;
    position: relative;
}

.boxed header.sticky,
.boxed header.sticky .header-sticky,
.boxed header.transparent-header {
    width: 1170px;
}

.box-background-img {
    background-image: url("../img/parallax/para7.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100vh;
    background-position: 50% 50%;
}

.box-pattern {
    background-image: url("../img/pattern-2.png");
    background-attachment: fixed;
    background-repeat: repeat;
    background-position: 50% 50%;
}


/*--------------------------------------
    scroll top
--------------------------------------*/

#tb-scroll-to-top {
    position: fixed;
    right: 20px;
    bottom: 35px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: rgba(0,0,0,.6);
    color: #fff;
    text-align: center;
    -webkit-transition: all .3s;
            transition: all .3s;
}

.tb-scroll-to-top-show {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
}

.tb-scroll-to-top-hide {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translateY(40px);
        -ms-transform: translateY(40px);
            transform: translateY(40px);
}




/*--------------------------------------
    banner images
--------------------------------------*/

.home-banner {
    background-image: url("../img/banner/home-banner.jpg")!important;
}

.creative-banner {
    background-image: url("../img/banner/creative-banner.jpg")!important;
}

.banner-catering {
    background-image: url("../img/banner/catering.jpg")!important;
}

.banner-hotel {
    background-image: url("../img/hotel/hotel_banner.jpg")!important;
}

.banner-ban2 {
    background-image: url("../img/banner/ban2.jpg")!important;
}

.banner-01 {
    background-image: url("../img/banner/01.jpg")!important;
}

.banner-02 {
    background-image: url("../img/banner/02.jpg")!important;
}

.banner-04 {
    background-image: url("../img/banner/04.jpg")!important;
}

.banner-12 {
    background-image: url("../img/banner/12.jpg")!important;
}

.banner-13 {
    background-image: url("../img/banner/13.jpg")!important;
}


.banner-14 {
    background-image: url("../img/banner/14.jpg")!important;
}


.banner-15 {
    background-image: url("../img/banner/15.jpg")!important;
}

.banner-16 {
    background-image: url("../img/banner/16.jpg")!important;
}

.banner-17 {
    background-image: url("../img/banner/17.jpg")!important;
}

.banner-19 {
    background-image: url("../img/banner/19.jpg")!important;
}

.banner-20 {
    background-image: url("../img/banner/20.jpg")!important;
}

.banner-22 {
    background-image: url("../img/banner/22.jpg")!important;
}

.banner-23 {
    background-image: url("../img/banner/23.jpg")!important;
}

.banner-24 {
    background-image: url("../img/banner/24.jpg")!important;
}

.banner-25 {
    background-image: url("../img/banner/25.jpg")!important;
}

.banner-26 {
    background-image: url("../img/banner/26.jpg")!important;
}

.banner-27 {
    background-image: url("../img/banner/27.jpg")!important;
}

.banner-28 {
    background-image: url("../img/banner/28.jpg")!important;
}

.banner-07 {
    background-image: url("../img/banner/07.jpg")!important;
}

.banner-08 {
    background-image: url("../img/banner/08.jpg")!important;
}

.banner-09 {
    background-image: url("../img/banner/09.jpg")!important;
}

.banner-10 {
    background-image: url("../img/banner/10.jpg")!important;
}

.banner-11 {
    background-image: url("../img/banner/11.jpg")!important;
}

.banner-05 {
    background-image: url("../img/banner/05.jpg")!important;
}

.banner-06 {
    background-image: url("../img/banner/06.jpg")!important;
}


.banner-p {
    background-image:url("../img/product/p-banner.jpg")!important;
}

.banner-r {
    background-image: url("../img/real-state/r-banner.jpg")!important;
}

.banner-spa {
    background-image: url("../img/spa/spa-banner.jpg")!important;
}

.banner-box1 {
    background-image: url("../img/banner/box_banner1.jpg")!important;
}

.banner-box2 {
    background-image: url("../img/banner/box_banner2.jpg")!important;
}

.banner-box-i {
    background-image: url("../img/banner/box_banner.jpg")!important;
}

.banner-flex3 {
    background-image: url("../img/banner/flex/flex3.jpg")!important;
}

.banner-demo {
    background-image: url("../img/banner/demo.jpg")!important;
}

.banner-onedot {
    background-image: url("../img/banner/onedot.jpg")!important;
}

.banner-02p {
    background-image: url("../img/banner/02p.jpg")!important;
}

.banner-app {
    background-image: url("../img/app/app_banner.jpg")!important;
}

.banner-para {
    background-image: url("../img/parallax/para_banner.jpg")!important;
}

.banner-para1 {
    background-image: url("../img/parallax/para1.jpg")!important;
}

.banner-para2 {
    background-image: url("../img/parallax/para2.jpg")!important;
}

.banner-para3 {
    background-image: url("../img/parallax/para3.jpg")!important;
}

.banner-para4 {
    background-image: url("../img/parallax/para4.jpg")!important;
}

.banner-para5 {
    background-image: url("../img/parallax/para5.jpg")!important;
}

.banner-para6 {
    background-image: url("../img/parallax/para6.jpg")!important;
}

.banner-para7 {
    background-image: url("../img/parallax/para7.jpg")!important;
}

.banner-para8 {
    background-image: url("../img/parallax/para8.jpg")!important;
}

.banner-sb1 {
    background-image: url("../img/about/sb-1.jpg")!important;
}

.banner-03 {
    background-image: url("../img/about/03.jpg") !important;
}

.banner-contact {
    background-image: url("../img/contact-banner.jpg")!important;
}

/*--------------------------------------
    parallax images
--------------------------------------*/

.parallax-4 {
    background-image: url("../img/parallax/4.jpg")!important;
}

.parallax-5 {
    background-image: url("../img/parallax/5.jpg")!important;
}

.parallax-6 {
    background-image: url("../img/parallax/6.jpg")!important;
}

.parallax-7 {
    background-image: url("../img/parallax/7.jpg")!important;
}

.parallax-8 {
    background-image: url("../img/parallax/8.jpg")!important;
}

.parallax-9 {
    background-image: url("../img/parallax/9.jpg")!important;
}

.parallax-10 {
    background-image: url("../img/parallax/10.jpg")!important;
}
.parallax-11 {
    background-image: url("../img/parallax/11.jpg")!important;
}

.parallax-12 {
    background-image: url("../img/parallax/12.jpg")!important;
}

.parallax-13 {
    background-image: url("../img/parallax/13.jpg")!important;
}

.parallax-14 {
    background-image: url("../img/parallax/14.jpg")!important;
}

.parallax-15 {
    background-image: url("../img/parallax/15.jpg")!important;
}

.parallax-16 {
    background-image: url("../img/parallax/16.jpg")!important;
}

.parallax-17 {
    background-image: url("../img/parallax/17.jpg")!important;
}

.parallax-18 {
    background-image: url("../img/parallax/18.jpg")!important;
}

.parallax-19 {
    background-image: url("../img/parallax/19.jpg")!important;
}


.parallax-p15 {
    background: url("../img/post/p15.jpg") center center no-repeat!important;
    background-size: cover!important;
    height: 599px!important;
}



.height-160 {
    height: 160px!important;
}

.height-227 {
    height: 227px!important;
}

.height-300 {
    height: 300px!important;
}

.height-310 {
    height: 310px!important;
}

.height-361 {
    height: 361px!important;
}

.height-450 {
    height: 450px!important;
}

.height-550 {
    height: 550px!important;
}

.height-600 {
    height: 600px!important;
}

.width-300 {
    width: 300px!important;
}


.fast-food {
    background: url("../img/restaurant/fast-food.jpg") right 30px no-repeat!important;
}

.parallax-hot {
    background-image: url("../img/hotel/hotparallax.jpg")!important;
}

.parallax-ev-p {
    background-image: url("../img/parallax/ev-p.jpg")!important;
}

.parallax-p {
    background-image: url("../img/product/p-parallax.jpg")!important;
}

.parallax-r {
    background-image: url("../img/real-state/r-parallax.jpg")!important;
}

.parallax-r-2 {
    background-image: url("../img/real-state/r-parallax-2.jpg")!important;
}

.parallax-s {
    background-image: url("../img/spa/s-parallax.jpg")!important;
}

/**/

.post-p8 {
    background: url("../img/post/p8.jpg") right 100px no-repeat!important;
}

.post-p9 {
    background: url("../img/post/p9.jpg") left 150px no-repeat!important;
}

.post-p9-alt {
    background: url("../img/post/p9.jpg") left 100px no-repeat!important;
}



/*--------------------------------------
    intro page
--------------------------------------*/


.banner-intro {
    background-image: url("../img/intro/intro-banner.jpg")!important;
}


.intro-title h2 {
    font-size: 36px;
}

.intro-title p {
    font-size: 16px;
    font-weight: 300;
    color: #fff !important;
    letter-spacing: 2px;
}

.intro-title p span {
    font-size: 26px;
}

.intro-title i{
    font-size: 26px;
    color: rgba(255,255,255,.5);
    line-height: 20px;
    top: 4px;
    position: relative;
    right: 10px;
}

.intro-title .btn {
    line-height: 32px;
}

.intro-title a:hover i, .intro-title a:focus i {
    color: #222;
}

.intro-portfolio img {
    margin-bottom: 30px;
}


.intro-portfolio .fit-img {
    margin-bottom: 20px;
}

.intro-portfolio a img,
.intro-portfolio a img:hover {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.intro-portfolio a img:hover {
    opacity: .8;

}


.intro-portfolio a {
    text-transform: uppercase;
    color: #222;
}

.dark-bg-alt {
    background: #222;
}


.dark-bg-alt .intro-portfolio  a {
    text-transform: uppercase;
    color: #fff;
}

.gray-bg-alt {
    background: #e8e8e8;
}
