<!-- Sidebar-->
        <div class="aside1">
            <div class="aside-content">
                <span class="part1">cast</span>
                <span class="part2">n</span>
                <span class="part1">crew</span>
            </div>
        </div>
