<!DOCTYPE html>
<html lang="en">

<head>
    <title>castNcrew</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">

    <link rel="shortcut icon" href="images/favicon.ico">

    <!-- CSS | STYLE -->

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/font-awesome.min.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/linecons.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/normalize.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/colors/brown.css')}}"  id="csscolors"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}" />

    <!-- CSS | Google Fonts -->

    <link href='http://fonts.googleapis.com/css?family=Montserrat:400' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:200,400,300,500,600' rel='stylesheet' type='text/css'>

    <noscript>
        <style>
        @media screen and (max-width: 755px) {
            .hs-content-scroller {
                overflow: visible;
            }
        }
        </style>
    </noscript>
</head>

<body>
    <!-- Page preloader -->
    <div id="page-loader">
        <canvas id="demo-canvas"></canvas>
    </div>
    <!-- container -->
    <div id="hs-container" class="hs-container">
            <div class="switcher" style="left:-40px;">
        </div>
        {% include 'castncrew.html' %}
        
        
        <!-- Go To Top Button -->
        <a href="#hs-menu" class="hs-totop-link"><i class="fa fa-chevron-up"></i></a>
        <!-- End Go To Top Button -->

        <!-- hs-content-scroller -->
        <div class="hs-content-scroller" style="left:30%">

            <!-- Header -->
            <div id="header_container" style="left:50px">
                <div id="header" style="padding-left:50px">
                    <nav>
                        <a class="home" href="#"><span class="fa fa-home nav-items"></span></a>
                        <a class="home" href="#"><span class="fa fa-user active-nav-items"></span></a>
                        <a class="home" href="#"><span class="fa fa-search nav-items"></span></a>
                    </nav>
                </div>
            </div>

        <!-- hs-content-wrapper -->
        <div class="hs-content-wrapper">
        
        <!-- Contact Section -->
                <article class="hs-content contact-section active">
                    <span class="sec-icon fa fa-edit"></span>
                    <div class="hs-inner">
                        <h2>PERSONAL DETAILS</h2>
                        <div class="contact_info">

                            <hr>
                        </div>
                        <form method = "post">
                        <!-- Contact Form -->
                        <fieldset id="contact_form">
                            <div id="result"></div>
                            <input type="text" name="model[tag]" id="tag" placeholder="TAG" required/>
                            <input type="text" name="model[location]" id="location" placeholder="LOCATION" required/>
                            <input type="text" name="model[mobilenumber]" id="mobno" placeholder="MOBILE NUMBER" required/>
                            
                        </fieldset>
                        <!-- End Contact Form -->

                        <div class="contact_info">

                            <hr>
                        </div>

                        <h2>INTEREST</h2>
                        <div class="contact_info">

                            <hr>
                        </div>
                        <!-- Contact Form -->
                        <fieldset id="contact_form">
                            <div id="result"></div>

                            <textarea name="model[oneliner]" id="onelineaboutme" placeholder="ABOUT YOURSELF IN A LINE" required></textarea> <br/><br>

                            <textarea name="model[bio" id="aboutme" placeholder="ABOUT YOURSELF LESS THAN 200 WORDS" required></textarea> <br/><br>
                            <input type="text" name="model[hobby1]" id="hobby1" placeholder="HOBBY 1" required/>
                            <input type="text" name="model[hobby2]" id="hobby2" placeholder="HOBBY 2" required/>
                            <input type="text" name="model[hobby3]" id="hobby3" placeholder="HOBBY 3" required/>
                        </fieldset>
                        <!-- End Contact Form -->

                        <div class="contact_info">

                            <hr>
                        </div>

                        <h2>WORK EXPERIENCE</h2>
                        <div class="contact_info">

                            <hr>
                        </div>
                        <!-- Contact Form -->
                        <fieldset id="contact_form">
                            <div id="result"></div>

                            <input type="text" name="model[projects]" id="projects" placeholder="NUMBER OF PROJECTS COMPLETED" required/>
                            <input type="text" name="model[photoshoots]" id="photoshoots" placeholder="NUMBER OF PHOTOSHOOTS COMPLETED" required/>
                            <input type="text" name="model[views]" id="views" placeholder="NUMBER OF VIEWS" required/>
                            <input type="text" name="model[clients]" id="clients" placeholder="NUMBER OF CLIENTS" required />
                            <button class="submit_btn" id="submit_btn">DONE</button>
                        </fieldset>
                        </form>
                        <!-- End Contact Form -->
                    </div>
                </article>

        </div>
            <!-- End hs-content-scroller -->
        </div>
        <!-- End container -->
        <div id="my-panel">
        </div>

        <!-- PLUGIN SCRIPTS -->

        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js')}}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/default.js')}}"></script>
        
        <script type="text/javascript" src="{{ url_for('static', filename='js/watch.js')}}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/layout.js')}}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/main.js')}}"></script>

        <!-- END PLUGIN SCRIPTS -->
</body>

</html>
