<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Mosaddek">

    <!--favicon icon-->
    <link rel="icon" type="image/png" href="img/favicon.png">

    <title>castNcrew</title>

    <!--common style-->

    
<link href='http://fonts.googleapis.com/css?family=Abel|Source+Sans+Pro:400,300,300italic,400italic,600,600italic,700,700italic,900,900italic,200italic,200' rel='stylesheet' type='text/css'>
<link href="{{ url_for('static',filename='css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{ url_for('static',filename='css/font-awesome.min.css')}}" rel="stylesheet">
    <link href="{{ url_for('static',filename='css/magnific-popup.css')}}" rel="stylesheet">
    <link href="{{ url_for('static',filename='css/shortcodes/shortcodes.css')}}" rel="stylesheet">
    <link href="{{ url_for('static',filename='css/owl.carousel.css')}}" rel="stylesheet">
    <link href="{{ url_for('static',filename='css/owl.theme.css')}}" rel="stylesheet">
    <link href="{{ url_for('static',filename='css/style.css')}}" rel="stylesheet">
    <link href="{{ url_for('static',filename='css/style-responsive.css')}}" rel="stylesheet">
    <link href="{{ url_for('static',filename='css/default-theme.css')}}" rel="stylesheet">


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <!--  preloader start -->
<div id="tb-preloader">
    <div class="tb-preloader-wave"></div>
</div>
<!-- preloader end -->



        <!--header start-->

        <!--header start-->
        <header id="header" class="  dark-header ">

            <div class="header-sticky light-header  ">

                <div class="container">
                    <div id="massive-menu" class="menuzord">

                        <!--logo start-->
                        <a href="index.html" class="logo-brand">
                            <img class="retina" src="img/logo.png" alt=""/>
                        </a>
                        <!--logo end-->

                        <!--mega menu start-->
                        <ul class="menuzord-menu pull-right">
                            <li><a href="#">Home</a></li>
                            <li class=""><a href="#">Male Models</a></li>
                            <li class=""><a href="#">Female Models</a></li>
                            <li class=""><a href="#">Child Models</a></li>
                            <li class=""><a href="login.html">Login</a></li>
                            <li class="nav-icon">
                                <a href="javascript:void(0)">
                                    <i class="fa fa-search"></i> Search
                                </a>
                                <div class="megamenu megamenu-quarter-width">
                                    <div class="megamenu-row">
                                        <div class="col12">
                                            <form role="form">
                                                <div class="">
                                                    <input type="text" class="form-control" placeholder="Search">
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <!--mega menu end-->

                    </div>
                </div>
            </div>

        </header>
        <!--header end-->


        <div class="left-nav-fixed dark-side-nav">
        <div class="wrapper">
        <header id="header" class=" header-full-width ">

            <div class=" light-header">

                <div class="container">
                    <div id="massive-menu" class="menuzord">

                        <div class="logo-area text-center">
                            <!--logo start-->
                                <img src="img/logo-dark.png" alt=""/>
                            
                            <!--logo end-->
                        </div>

                        <!--mega menu start-->
                        <ul class="menuzord-menu pull-right">
                            <li class="active"><a href="javascript:void(0)">ABOUT</a></li>
                            <li><a href="#"><i class="fa fa-shopping-cart"></i>WORKS</a></li>
                            <li><a href="#">GALLERY</a></li>
                            <li><a href="#">CONTACT</a></li>
                        </ul>
                        <!--mega menu end-->



                    </div>
                </div>
            </div>

            <div class="side-social-link clearfix visible-md visible-lg">
                <a href="#">
                    <i class="fa fa-facebook"></i>
                </a>

                <a href="#">
                    <i class="fa fa-twitter"></i>
                </a>

                <a href="#">
                    <i class="fa fa-google-plus"></i>
                </a>

                <a href="#">
                    <i class="fa fa-pinterest"></i>
                </a>

                <a href="#">
                    <i class="fa fa-linkedin"></i>
                </a>
            </div>
        </header>
        <!--header end-->

        <!--body content start-->
        <section class="body-content ">
            <div class="promo-box gray-bg round-5 m-bot-50">
                <div class="promo-info">
                    <h2>Deepika<span class="theme-color">Padukone</span></h2>
                    <span>Cute fun loving girl from mumbai</span>
                </div>
                <div class="promo-btn">
                    <a href="#" class="btn btn-medium btn-rounded btn-dark-solid  text-uppercase">Get in touch with her</a>
                </div>
            </div>
            <div class="container">
            <div class="heading-title-alt border-short-bottom text-center ">
                        <h3 class="text-uppercase">A short bio</h3>
                        <div class="half-txt">Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus. Nam libero tempore</div>
                    </div>
                <div class="row page-content">
                    <div class="post-list-aside">
                        <div class="post-single">
                        <div class="heading-title-alt text-left ">
                            <h4 class="text-uppercase">About me</h4>
                            <span class="text-uppercase">A little bit about me.</span>
                        </div>

                            <div class="col-md-6">

                                <div class="post-slider post-img text-center">
                                    <ul class="slides">
                                        <li data-thumb="img/profile/deepika/01.jpg">
                                            <a href="javascript:;" title="Freshness Photo"><img src="img/profile/deepika/01.jpg" alt=""></a>
                                        </li>
                                        <li data-thumb="img/profile/deepika/02.jpg.jpg">
                                            <a href="javascript:;" title="Awesome Lightbox"><img src="img/profile/deepika/02.jpg" alt=""></a>
                                        </li>
                                        <li data-thumb="img/profile/deepika/03.jpg.jpg">
                                            <a href="javascript:;" title="Massive UI Components"><img src="img/profile/deepika/03.jpg" alt=""></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <p style="margin-top:70px;">
                                    Lid est laborum dolo rumes fugats untras. Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes nemo minima rerums unsers sadips amets.. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="heading-title-alt border-short-bottom text-center ">
                        <h3 class="text-uppercase">Works</h3>
                        <div class="half-txt">Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus. Nam libero tempore</div>
                </div>
                <div class="heading-title-alt text-left ">
                                <h4 class="text-uppercase">Works done</h4>
                                <span class="text-uppercase">Here are some works I did so far</span>
                            </div>

                <!-- Works starting-->
                            <div class="portfolio col-2 gutter ">

                           <div class="portfolio-item">
                               <div class="thumb">
                                   <img src="img/profile/deepika/04.jpg" alt="">
                                   <div class="portfolio-hover">
                                       <div class="action-btn">
                                           <a href="portfolio-single.html"> <i class="icon-basic_link"></i>  </a>
                                       </div>
                                       <div class="portfolio-description">
                                           <h4><a href="portfolio-single.html">View More!</a></h4>
                                           <p>Work 1</p>
                                       </div>
                                   </div>
                               </div>
                           </div>

                           <div class="portfolio-item cat1 cat2">
                               <div class="thumb">
                                   <img src="img/profile/deepika/05.jpg" alt="">
                                   <div class="portfolio-hover">
                                       <div class="action-btn">
                                           <a href="portfolio-single.html"> <i class="icon-basic_link"></i>  </a>
                                       </div>
                                       <div class="portfolio-description">
                                           <h4><a href="portfolio-single.html">View More!</a></h4>
                                           <p>Work 2</p>
                                       </div>
                                   </div>
                               </div>
                           </div>

                       </div>
                            <!-- Works ending-->
            
            <div class="page-content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="heading-title-alt border-short-bottom text-center ">
                        <h3 class="text-uppercase">Gallery</h3>
                        <div class="half-txt">Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus. Nam libero tempore</div>
                    </div>
                            <div class="heading-title-alt text-left ">
                                <h4 class="text-uppercase">gallery</h4>
                                <span class="text-uppercase">Here are some photos of my various photoshoots</span>
                            </div>





                            <!--portfolio carousel-->

                            <div id="portfolio-carousel" class=" portfolio-with-title col-3 ">
                                <div class="portfolio-item">
                                    <div class="thumb">
                                        <img src="img/profile/deepika/07.jpg" alt="">
                                        <div class="portfolio-hover">
                                            <div class="action-btn">
                                                <a href="img/profile/deepika/07.jpg" class="popup-link" title="lightbox view"> <i class="icon-basic_magnifier"></i>  </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="portfolio-title">
                                        <h4><a href="img/profile/deepika/07.jpg.jpg" class="popup-link" title="lightbox view">perspiciatis unde omnis</a></h4>
                                    </div>
                                </div>

                                <div class="portfolio-item">
                                    <div class="thumb">
                                        <img src="img/profile/deepika/09.jpg" alt="">
                                        <div class="portfolio-hover">
                                            <div class="action-btn">
                                                <a href="img/profile/deepika/09.jpg" class="popup-link" title="lightbox view"> <i class="icon-basic_magnifier"></i>  </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="portfolio-title">
                                        <h4><a href="img/profile/deepika/02.jpg" class="popup-link" title="lightbox view">denouncing pleasure</a></h4>
                                    </div>
                                </div>

                                <div class="portfolio-item">
                                    <div class="thumb">
                                        <img src="img/profile/deepika/03.jpg" alt="">
                                        <div class="portfolio-hover">
                                            <div class="action-btn">
                                                <a href="img/profile/deepika/03.jpg" class="popup-link" title="lightbox view"> <i class="icon-basic_magnifier"></i>  </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="portfolio-title">
                                        <h4><a href="img/profile/deepika/03.jpg" class="popup-link" title="lightbox view">annoyances accepted</a></h4>
                                    </div>
                                </div>

                                <div class="portfolio-item">
                                    <div class="thumb">
                                        <img src="img/profile/deepika/01.jpg" alt="">
                                        <div class="portfolio-hover">
                                            <div class="action-btn">
                                                <a href="img/profile/deepika/01.jpg" class="popup-link" title="lightbox view"> <i class="icon-basic_magnifier"></i>  </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="portfolio-title">
                                        <h4><a href="img/profile/deepika/01.jpg" class="popup-link" title="lightbox view">annoyances accepted</a></h4>
                                    </div>
                                </div>

                                <div class="portfolio-item">
                                    <div class="thumb">
                                        <img src="img/profile/deepika/05.jpg" alt="">
                                        <div class="portfolio-hover">
                                            <div class="action-btn">
                                                <a href="img/portfolio/05.jpg" class="popup-link" title="lightbox view"> <i class="icon-basic_magnifier"></i>  </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="portfolio-title">
                                        <h4><a href="img/profile/deepika/05.jpg" class="popup-link" title="lightbox view">annoyances accepted</a></h4>
                                    </div>
                                </div>

                                <div class="portfolio-item">
                                    <div class="thumb">
                                        <img src="img/profile/deepika/06.jpg" alt="">
                                        <div class="portfolio-hover">
                                            <div class="action-btn">
                                                <a href="img/profile/deepika/06.jpg" class="popup-link" title="lightbox view"> <i class="icon-basic_magnifier"></i>  </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="portfolio-title">
                                        <h4><a href="img/profile/deepika/06.jpg" class="popup-link" title="lightbox view">annoyances accepted</a></h4>
                                    </div>
                                </div>

                            </div>

                            <!--portfolio carousel-->

                            <div class="page-content">

                <div class="container">

                    <div class="heading-title-alt border-short-bottom text-center ">
                        <h3 class="text-uppercase">Contact</h3>
                        <div class="half-txt">Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus. Nam libero tempore</div>
                    </div>
                    <div class="row">

                        <div class="col-md-10 col-md-offset-1">
                        <form method="post" action="#" id="form" role="form" class="contact-comments">

                            <div class="row">

                                <div class="col-md-6 ">

                                    <div class="form-group">
                                        <!-- Name -->
                                        <input type="text" name="name" id="name" class=" form-control" placeholder="Name *" maxlength="100" required="">
                                    </div>
                                    <div class="form-group">
                                        <!-- Email -->
                                        <input type="email" name="email" id="email" class=" form-control" placeholder="Email *" maxlength="100" required="">
                                    </div>
                                    <div class="form-group">
                                        <!-- phone -->
                                        <input type="text" name="phone" id="phone" class=" form-control" placeholder="Phone" maxlength="100">
                                    </div>
                                </div>

                                <div class="col-md-6 form-group">
                                    <div class="form-group">
                                        <!-- Comment -->
                                        <textarea name="text" id="text" class="cmnt-text form-control" placeholder="Comment" maxlength="400"></textarea>
                                    </div>
                                    <div class="form-group full-width">
                                        <button type="submit" class="btn btn-small btn-dark-solid ">
                                            Send Message
                                        </button>
                                    </div>
                                </div>

                            </div>

                        </form>
                        </div>
                    </div>
                

                    
                </div>

            </div>
        </section>
        <!--body content end-->

        <!--footer start-->
        <footer id="footer" class="dark footer-4">
            <div class="container">

                <div class="f-logo-center">
                    <a href="index.html" class="footer-logo">
                        <img class="retina" src="img/footer-logo.png" alt=""/>
                    </a>
                </div>
                <div class="col-md-6">
                    <div class="copyright">
                        &copy; MASSIVE 2014.
                    </div>
                    <div class="copyright-sub-title text-uppercase">
                        Building your site with lots of fun
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="social-link pull-right circle " >
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                        <a href="#"><i class="fa fa-google-plus"></i></a>
                        <a href="#"><i class="fa fa-behance"></i></a>
                    </div>
                </div>


            </div>
        </footer>
        <!--footer end-->
        </div>
    </div>


    <!-- Placed js at the end of the document so the pages load faster -->
    <script src="{{ url_for('static',filename='js/jquery-1.10.2.min.js')}}"></script>
    <script src="{{ url_for('static',filename='js/bootstrap.min.js')}}"></script>
    <script src="{{ url_for('static',filename='js/menuzord.js')}}"></script>
    <script src="{{ url_for('static',filename='js/jquery.flexslider-min.js')}}"></script>
    <script src="{{ url_for('static',filename='js/owl.carousel.min.js')}}"></script>
    <script src="{{ url_for('static',filename='js/jquery.isotope.js')}}"></script>
    <script src="{{ url_for('static',filename='js/jquery.magnific-popup.min.js')}}"></script>
    <script src="{{ url_for('static',filename='js/jquery.countTo.js')}}"></script>
    <script src="{{ url_for('static',filename='js/breakpoint.js')}}"></script>
    <script src="{{ url_for('static',filename='js/imagesloaded.js')}}"></script>
    <script src="{{ url_for('static',filename='js/smooth.js')}}"></script>
    <script src="{{ url_for('static',filename='js/wow.min.js')}}"></script>


    <script src="{{ url_for('static',filename='js/imagesloaded.js')}}"></script>
    <!--common scripts-->
    <script src="{{ url_for('static',filename='js/scripts.js')}}"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            var bodyclass = $("body").attr("class");
            $.BreakPoint({
                breakpoints: {
                    tablet: {
                        max: 768,
                        callback: function () {
                            $("body").removeClass(bodyclass);
                        }
                    },
                    desktop: {
                        min: 769,
                        callback: function () {
                            $("body").addClass(bodyclass);
                        }
                    }
                }
            });
        });
    </script>
</body>
</html>