<!-- Go To Top Button -->
        <a href="#hs-menu" class="hs-totop-link"><i class="fa fa-chevron-up"></i></a>
        <!-- End Go To Top Button -->

        <!-- hs-content-scroller -->
        <div class="hs-content-scroller">

            <!-- Header -->
            <div id="header_container">
                <div id="header">
                    <nav>
                        <a class="home"><span class="fa fa-home nav-items"></span></a>
                        <a class="home"><span class="fa fa-user active-nav-items"></span></a>
                        <a class="home"><span class="fa fa-search nav-items"></span></a>
                        <a class="home" href="{{url_for('logout')}}"><span class="fa fa-sign-out nav-items"></span></a>
                    </nav>
                    <div class="pull-right">
                        <a href="" class="previous-page arrow"><i class="fa fa-angle-left"></i></a>
                        <a href="" class="next-page arrow"><i class="fa fa-angle-right"></i></a>
                    </div>
                    
                </div>
            </div>
