<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Mosaddek">

    <!--favicon icon-->
    <link rel="icon" type="image/png" href="img/favicon.png">

    <title>themelock.com - Login 2 parallax</title>

    <!--common style-->

    
<link href='http://fonts.googleapis.com/css?family=Abel|Source+Sans+Pro:400,300,300italic,400italic,600,600italic,700,700italic,900,900italic,200italic,200' rel='stylesheet' type='text/css'>
    <link href="{{ url_for('static',filename='css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{ url_for('static',filename='css/font-awesome.min.css')}}" rel="stylesheet">
    <link href="{{ url_for('static',filename='css/magnific-popup.css')}}" rel="stylesheet">
    <link href="{{ url_for('static',filename='css/shortcodes/shortcodes.css')}}" rel="stylesheet">
    <link href="{{ url_for('static',filename='css/owl.carousel.css')}}" rel="stylesheet">
    <link href="{{ url_for('static',filename='css/owl.theme.css')}}" rel="stylesheet">
    <link href="{{ url_for('static',filename='css/style.css')}}" rel="stylesheet">
    <link href="{{ url_for('static',filename='css/style-responsive.css')}}" rel="stylesheet">
    <link href="{{ url_for('static',filename='css/default-theme.css')}}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
</head>

<body >
<!--  preloader start -->
<div id="tb-preloader">
    <div class="tb-preloader-wave"></div>
</div>
<!-- preloader end -->



    <div class="login login-bg login-parallax">

        <div class="container">
            <div class="login-logo text-center">
                <a href="#"> <img src="img/login-logo.png" alt=""/></a>
            </div>
            <div class="login-box btn-rounded">
                <form id="login-form" name="login-form" class=" " action="#" method="post">

                    <div class="text-center"><h3>SIGN UP</h3></div>

                    <div class="form-group">
                        <input type="text" id="login-form-username" name="user[firstname]" value="" class="form-control" placeholder="First Name">
                    </div>

                    <div class="form-group">
                        <input type="text" id="login-form-username" name="user[lastname]" value="" class="form-control" placeholder="Last Name">
                    </div>

                    <div class="form-group">
                        <input type="text" id="login-form-username" name="user[email]" value="" class="form-control" placeholder="e-mail ID">
                    </div>

                    <div class="form-group">
                        <input type="text" id="login-form-username" name="user[mobno]" value="" class="form-control" placeholder="Phone Number">
                    </div>

                    <div class="form-group">
                        <input type="password" id="login-form-password" name="user[password]" value="" class="form-control " placeholder="Enter Password">
                    </div>

                    <div class="form-group">
                        <input type="password" id="login-form-password" name="confirmpassword" value="" class="form-control " placeholder="Confirm Password">
                    </div>

                    <div class="form-group">
                        <button class="btn btn-small btn-dark-solid full-width btn-rounded" id="login-form-submit" name="login-form-submit" value="login">Sign Up</button>
                    </div>

                    <div class="form-group">
                        
                        Already registered? <a class="pull-right" data-toggle="modal" href="/login"> Login here </a>
                    </div>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
 

                </form>
            </div>
            <div class="copyright-row text-center">
                Copyrights © All Rights Reserved by  <a href="#" class="theme-color">#infinity</a>
            </div>
        </div>

    </div>


<!-- Placed js at the end of the document so the pages load faster -->
<script src="{{ url_for('static',filename='js/jquery-1.10.2.min.js')}}"></script>
<script src="{{ url_for('static',filename='js/bootstrap.min.js')}}"></script>
<script src="{{ url_for('static',filename='js/menuzord.js')}}"></script>
<script src="{{ url_for('static',filename='js/jquery.flexslider-min.js')}}"></script>
<script src="{{ url_for('static',filename='js/owl.carousel.min.js')}}"></script>
<script src="{{ url_for('static',filename='js/jquery.isotope.js')}}"></script>
<script src="{{ url_for('static',filename='js/jquery.magnific-popup.min.js')}}"></script>
<script src="{{ url_for('static',filename='js/smooth.js')}}"></script>
<script src="{{ url_for('static',filename='js/wow.min.js')}}"></script>
<script src="{{ url_for('static',filename='js/imagesloaded.js')}}"></script>
    <!--common scripts-->
<script src="{{ url_for('static',filename='js/scripts.js')}}"></script>

</body>
</html>